body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    width: 500px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 1cm auto; /* Center the section horizontally and add margin on top and bottom */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    background-image: url('header-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px 0;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #00008b;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: darkslategray;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #3498db;
}

h1 {
     
    font-size: 36px;
    margin: 20px 0;
}

p {
    font-size: 18px;
}

@media (max-width: 768px) {
    header {
        padding: 40px 0;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}
#contact {

    padding: 40px 0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

.input-group {
    margin: 15px 0;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
    color: navy;
}